<html>
	<head></head>

	<body>
		<table style="background-color: grey; width: 550px;">

			<tbody>
				<tr>

					<td>
						<table id="inside" style="background-color: white; width: 550px;">

							<tbody>

								<tr>
									<td>
										<%=@comment.content%>
									</td>
								</tr>

							</tbody>

					</td>

				</tr>
			</tbody>

		</table>
	</body>
</html>
