<main id="posts-home">

	<div class="left">Group Links</div>

	<div class="deewar-posts">
		<div class="new-post-form">
			<% if user_signed_in? %>
			<%= form_for @post,remote: true do |f| %>
				
				<%= f.text_area :content %>

				<%= f.submit %>
			<% end %>
			<% end %>
		</div>

		<div  >
			<ul id="posts-all" class="posts-list" style="
    list-style:  none;
">
				<% @posts.reverse.each do |post|%>
				<%= render 'post',post:post%>

				<% end %>
			</ul>


		</div>
		

	</div>


	<div class="right">Friends</div>

</main>




